<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test <% htmlWebpackPlugin.options.version %></title>
  </head>
  <body>
    <div id="root"></div>
    <div id="devtools"></div> 
  </body>
</html>
